/* Write your global styles here, in PostCSS syntax */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");

html {
  background-color: #0a050d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
